name: Daily Upstream Check & Rebuild

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

env:
  DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/devkitarm-wine-docker
  GHCR_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  check-and-rebuild:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check if Base Image is newer than My Image
        id: check
        run: |
          curl -L https://github.com/regclient/regclient/releases/latest/download/regctl-linux-amd64 > regctl
          chmod +x regctl
          

          BASE_TIME=$(./regctl image inspect devkitpro/devkitarm:latest --format '{{.Config.Created}}')
          MY_TIME=$(./regctl image inspect ${{ env.GHCR_IMAGE }}:latest --format '{{.Config.Created}}')
          
          echo "Base image was built: $BASE_TIME"
          echo "My image was built: $MY_TIME"
          
          if [[ "$BASE_TIME" > "$MY_TIME" ]]; then
            echo "Update found!"
            echo "needs-updating=true" >> $GITHUB_OUTPUT
          else
            echo "No update needed."
            echo "needs-updating=false" >> $GITHUB_OUTPUT
          fi
      - name: Login to Docker Hub
        if: steps.check.outputs.needs-updating == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        if: steps.check.outputs.needs-updating == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        if: steps.check.outputs.needs-updating == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.GHCR_IMAGE }}:latest
